@model ResultEventForAcceptOrReject

<div>
    <div class="card card-post card-round">
        <div class="col-md-6 ms-auto me-auto">
            <img class="img-thumbnail  " src="~/kaiadmin-lite-1.2.0/kaiadmin-lite-1.2.0/assets/img/blogpost.jpg" alt="Card image cap">

        </div>
        <div class="card-body col-md-6 ms-auto me-auto">
            <div class="d-flex">
                <div class="avatar">
                    <img src="~/kaiadmin-lite-1.2.0/kaiadmin-lite-1.2.0/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info-post ms-2">
                    <p class="username">Etkinliği Oluşturan: @Model.UserName</p>
                    <p class="date text-muted">Etkinlik Tarihi: @Model.DateAndTime</p>
                </div>
            </div>
            <div class="separator-solid"></div>
            <h3 class="card-title">
                @Model.Title
            </h3>
            <p class="card-text">
                @Model.Description
            </p>
        </div>
    </div>
</div>