@model List<ResultAllRegion>

<select id="regionFilter" class="form-select">
    <option value="">Tüm Bölgeler</option>
    @foreach (var region in Model)
    {
        <option value="@region.RegionId">@region.RegionName</option>
    }
</select>
