@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="col-md-10">
        <h1>Etkinlik Detay Sayfası</h1>
        <!-- İlk Row -->
        <div class="row mb-3">
            <!-- İki component'ı yan yana yerleştiriyoruz -->
            <div class="col-md-6">
                @await Component.InvokeAsync("_AdminEventWhoAttendAndRejectEventComponentPartial", new { id = Convert.ToInt32(ViewBag.EventId) })
            </div>
            <div class="col-md-6">
                @await Component.InvokeAsync("_AdminEventPieChartComponentPartial", new { id = Convert.ToInt32(ViewBag.EventId) })
            </div>
        </div>

        <!-- İkinci Row -->
        <div class="row mb-3 justify-content-center">
            <button class="btn btn-info back-button w-50 h-50" data-url="/Admin/AdminEvent/Index/">
                EVENT SAYFASINA GERİ DÖN
            </button>
        </div>

        <!-- Üçüncü Row -->
        <div class="row">
            @await Component.InvokeAsync("_AdminEventAllUserAnswersComponentPartial", new { id = Convert.ToInt32(ViewBag.EventId) })
        </div>
    </div>
</div>
