<footer class="footer">
    <div class="container-fluid d-flex justify-content-between col-md-5">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Yardım </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            2024, made with by Muhammed Mert Sayan
        </div>
        @* <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
        </div> *@
    </div>
</footer>